.bar {
  height: 40px;
  color: #281a1a;
  margin: 0px auto 24px;
  z-index: 999;
}

.bar .ul {
  float: left;
  list-style: none;
  display: block;
}
.bar .ul .li {
  float: left;
  list-style: none;
  display: block;
  width: 180px;
  background-color: rgb(149 148 134 / 85%);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  margin-right: 4px;
  margin-top: 3px;
  border-radius: 5px;
}
.ul .li .a {
  display: block;
  cursor: context-menu;
}
.ul .li .a:hover {
  display: block;
  background-color: rgb(88, 87, 73);
  color: whitesmoke;

/*   background-color: rgb(149 148 134);
  color: whitesmoke;
 */  border-radius: 5px;
}
.bar .ul .li .ul .li {
  margin-bottom: 0;
  display: none;
}
.bar .ul .li:hover .ul .li {
  display: block;
}
